<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6"> 
        <h1> Jumanji:Próxima fase </h1>
        <h2> 4 de dezembro de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/bBRDUTr6jgbD8I8A9DvVGrVbdfB.jpg"> 
        <p> Tentado em revisitar o mundo de Jumanji, Spencer (Alex Wolff) decide consertar o jogo de videogame que permite que os jogadores sejam transportados ao local.</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>
      <ion-col size="6"> 
        <h1> Vingadores:Ultimato </h1>
        <h2> 24 de abril de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/q6725aR8Zs4IwGMXzZT8aC8lh41.jpg"> 
        <p> Após os eventos devastadores de "Vingadores: Guerra Infinita", o universo está em ruínas devido aos esforços do Titã Louco, Thanos. Com a ajuda de aliados remanescentes…</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="6"> 
        <h1> Aves de rapina</h1>
        <h2> 5 de fevereiro de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/oFfDC7ouX63C2hj6LsF9Cm7A5Nb.jpg"> 
        <p>Arlequina, Canário Negro, Caçadora, Cassandra Cain e a policial Renée Montoya formam um grupo inusitado de heroínas.</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>
      <ion-col size="6"> 
        <h1> 1917 </h1>
        <h2> 25 de dezembro de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/p6lDTyJl7SEbv4jZkftVBPndZH2.jpg"> 
        <p> Em um dos momentos críticos da Primeira Guerra Mundial, dois soldados britânicos, Schofield e Blake, recebem uma missão aparentemente impossível.</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>
     
     
    </ion-row>
  </ion-grid>

 
</ion-content>
